

body{

    background-color: #ededed;
}

.blogContainer h5{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blogContainer .card{

    transition: all .4s ease-in-out;
}

.blogContainer .card:hover{

    box-shadow: 5px 10px 10px #888888;
    transform: scale(1.001);
}
.spinner{

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.5);
}